<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <button onclick="redirectToChatbot()">Chatbot</button>
    <button onclick="redirectToShortestPath()">Shortest Path</button>

    <script>
        function redirectToChatbot() {
            window.location.href = "/chatbot.html";
        }

        function redirectToShortestPath() {
            window.location.href = "/home.html";
        }

    </script>
</body>

</html>